<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h2>List of people</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    <tr th:each="person : ${people}">
        <td th:text="${person.id}">id</td>
        <td th:text="${person.firstname}">name</td>
        <td th:text="${person.lastname}">price</td>
    </tr>
</table>

</body>
</html>